* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    background-color: orange;
    padding: 20px;
    /* margin: 0 auto; */
}
.container {
width: 960px;
margin: 0 auto;
}

#link-bit-blog {
font-size: 28px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.link-hover:hover {
    background-color: darkorange;
}

ul {
    display: inline;
    float: right;
}

li {
    list-style-type: none;
    display: inline;
    /* justify-content: flex-end; */
}

footer {
    background-color: orange;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    padding: 10px;
}