* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    width: 80%;
    margin: 0 auto;
  }

  footer {
    flex-shrink: 0;
    background-color: orange;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
  

.hidden {
    display: none;
}

 /* header */

.container-fluid {
    width: 100%;
    background-color: orange;
    padding: 20px;
    vertical-align: middle;
}

.main-nav .nav-links:hover {
    background-color: darkorange;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}


/* Home Page */

.posts-card-container a:hover {
    box-shadow: 0 4px 8px 0 rosybrown, 0 6px 20px 0 rosybrown;
}

.posts-title {
    text-align: center;
    color: darkorange;
    padding: 20px;
}

.post-link {
    display: block;
    text-decoration: none;
    color: burlywood;
    padding: 30px;
    font-size: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


/* Single Post Page */

.post-container-section {
    margin: 30px 0;
    color: burlywood;
}

.single-post-container h1 {
    text-align: center;
    font-size: 30px;
}

.single-post-container .single-post-body-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
}

.author-link {
    text-align: center;
    padding: 20px;
    text-align: center;
}

.author-link a:hover {
    text-decoration: underline;
}

#author-link {
    cursor: pointer;
    color: blue;
    display: inline;
    text-align: center;
}
 .single-post-body-wrapper img {
    width: 100%;
}

.related-posts {
    margin: 0 auto;
    color: blue;
    display: block;
    cursor: pointer;
}

.related-posts:hover {
    text-decoration: underline;
}

.comment-container {
    padding: 20px 0;
}

.comment-content {
    border-bottom: 1px solid  #e0e0e0;
    padding: 1em;
}

.comment-list {
    border: 1px solid #e0e0e0;
    overflow: hidden;
    position: relative;
}

.comment-content span {
    position: relative;
    padding-left: 72px;
    text-transform: lowercase;
    color: grey;
}

.comment-content p {
    position: relative;
    left: 72px;
    width: 80%;
}

.comment-content img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 15px;
    display: inline-block;
}

/* Authors Page */

.authors-title {
    text-align: center;
    color: darkorange;
    padding: 20px;
}

.author-link-list {
    color: burlywood;
    cursor: pointer;
    text-align: start;
}

.author-card-container {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.author-card-container:hover {
    box-shadow: 0 4px 8px 0 rosybrown, 0 6px 20px 0 rosybrown;

}

/* Single Author Page */

#author-title {
    text-align: center;
    color: orange;
    padding: 20px;
}

.single-author-info {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-author-paragraph{
    padding: 10px;
    font-size: 20px;
    
}

/* About */

.about-title {
    text-align: center;
    padding: 20px;
    color: darkorange;
}

#about-paragraph {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: burlywood;

}






































