* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    
.container-fluid {
    width: 100%;
    background-color: orange;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.mainWrapper {
    width: 80%;
    margin: 0 auto;
}

.cardContainer div{
    width: 100%;
    padding: 30px;
    color: burlywood;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.cardContainer div:hover {
    box-shadow: 0 4px 8px 0 rosybrown, 0 6px 20px 0 rosybrown;

}

 .single-post-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
} 


.userLinkDiv {
    order: 0;
    text-align: center;
    padding: 0.8em;
}

.singlePostTitle {
    text-align: center;
    padding: 20px;
}

.singlePostBody {
    font-size: 1.3em;
}

.singlePostBody {
    padding: 30px;
    color: burlywood;
}

.relatedLinksTitle {
    padding: 30px 30px 20px 10px;
    color: rgb(202, 144, 17);
}

.relatedLinks {
    margin: 0 auto;
    color: blue;
    display: block;
}

.relatedLinks:hover {
    text-decoration: underline;
}


#link-bit-blog {
    font-size: 28px;
    display: inline;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}
.user-link {
    color: burlywood;
}

.div-display-user {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.div-display-user:hover {
    box-shadow: 0 4px 8px 0 rosybrown, 0 6px 20px 0 rosybrown;

}

.link-hover:hover {
    background-color: darkorange;
}

.nav-list {
    margin-top: 1.1em;
    /* display: inline; */
    /* float: right; */
}

li {
    list-style-type: none;
    display: inline;
}

.link-hover {
    display: inline;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.about-title {
    text-align: center;
    padding: 20px;
    color: darkorange;
}

.index-title {
    text-align: center;
    color: darkorange;
    padding: 20px;
}
.authors-title {
    text-align: center;
    color: darkorange;
    padding: 20px;
}


#userLink {
    color: blue;
    display: inline;
}

.userName{
    background-color: rgb(240, 212, 89);
    padding: 20px;
    margin: 20px;
    color: white;
    font-size: 20px;
    box-shadow: 6px 6px 31px 5px rgba(179,132,38,1);
    border-radius: 10px;
}

.userInfo {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.userInfoParagraph{
    padding: 10px;
    font-size: 20px;
    
}
#authorTitle {
    text-align: center;
    color: orange;
    padding: 20px;
}
  #about-paragraph {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: burlywood;

 }

 .commentTitle {
    padding: 30px 0;
    color: rgb(202, 144, 17);
 }

 .comment-div-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .comment-div {
     border-bottom: 2px solid grey;
     padding: 1.5em;
 }

 .comment-user-picture {
     width: 50px;
 }

 .comment-div h3 {
     color: gray;
     padding-bottom: 0.5em;
     display: inline;
     position: relative;
     bottom: 20px;
 }

 .albums-title {
  text-align: center;
  color: orange;
  padding: 20px;
 }


footer {
    background-color: orange;
    position: relative;
    bottom: 0;
    width: 100%;
}



footer p {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

